/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Drawer
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// A fixed navigation designed that will slide in from the browser edge.
// To customize the drawer you probably want to check out the accompanying
// javascript in app.js.

/*
 § Configuration
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$drawer-width: 15em;

/*
 § Looks
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.drawer {
  padding-top: $m;
  background: #fff;
  border-right: 1px solid $black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$drawer-width; // Hide the drawer.
  width: $drawer-width;
  @include transition (all $time-s ease-in-out);

  // Headings
  .heading {
    @extend .heading--section;
    border: 0;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: .3em;
    margin-bottom: 0;
  } // heading
  
  // Navigation block (collection of links)
  nav {
    margin-bottom: $s;

    // Links
    a {
      display: block;
      padding-right: 8%;
      padding-top: 0.085em;
      padding-bottom: .06em;
      padding-left: 8%;
      text-transform: uppercase;
      color: $gray-dark;
      @include transition(background $time-xs ease);
      
      // Hover and focus stats
      &:hover,
      &:active,
      &:focus {
        background: $yellow;
        color: $black;
        text-decoration: none;
      }

      // Current link
      &.current {
        color: $black;
        background: $gray-light;
      }
    } // a
  } // nav
} // drawer

/*
 § Menu icon
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-header .smkui-logo:after {
  @include image-replacement($menu);
  @include transition(all $time-s ease-in-out);
  content: "Menu";
  speak: none;
  position: absolute;
  top: 1.2em;
  left: 0;
  width: .5em;
  opacity: .25;

  @media (min-width: $screen-xs) { width: .75em; }
  @media (min-width: 470px) { width: 1em; }

  // Hide the menu icon on small screens.
  @media (min-width: $screen-s) { display: none; }
}

// When opened
.main-header .smkui-logo.active:after {
  width: .3em;
  opacity: 1;
}

/*
 § Open state
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 // Show the drawer.
.drawer--open{
  left: 0;
}

// Prepare page elements to be pushed aside.
.main-header,
.main-footer,
.article {
  position: relative;
  right: 0;
  @include transition (right $time-s ease-in-out);
  @include transition ('padding-left' $time-s ease-in-out);
}

/*
 § Show when there is room for it
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: $screen-s) {
   // Show the drawer.
  .drawer {
    left: 0;
  }

  // Push page elements aside.
  .main-header h3,
  .main-footer section,
  .article {
    padding-left: $drawer-width !important;
  }
}