/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Field
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Form fields.

/*
 § Default
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*input*/.field {
  background-color: $gray;
  padding: .65em .55em;
  border: 1px solid $black;
  width: 100%;
  @include transition(all $time-s ease-in-out);

  // Decrease the padding on larger screens.
  // @media (min-width: $screen-m) { padding: .35em .45em .375em; }
}

/*
 § Focus state
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.field:focus,
.field--focus {
  background-color: #fff;
  outline: 0;
} 