/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Gallery
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Image gallery.

.gallery {
  @include clearfix;
  width: 300px;
}

// Copyright notice
.gallery__copyright {
  @extend .type--small;
  @extend .type--italic;
  margin-top: .85em;
}

// Thumbnails
.gallery__thumbnails {
  margin-right: -2%;
  margin-left: -2%;

  a {
    display: block;
    width: 21%;
    float: left;
    margin: 4% 2% 0;

    img {
      opacity: .5;
    }

    &:hover,
    &:focus {
      img { opacity: .6; }      
    }
    
    // Current thumbnail being viewed
    &.current {
      img { opacity: 1; }
    }  
  }
}