/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Gallery
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Image gallery.

.gallery {
  @include clearfix;
  width: 418px;
}

// Main image
.gallery__main {
  img[src*="default_picture"] {
  opacity: .3;
}
}

// Copyright notice
.gallery__copyright {
  @extend .type--small;
  @extend .type--italic;
  margin-top: .85em;
}

// Thumbnails
.gallery__thumbnails {
  margin-right: -11px;
  margin-left: -11px;


  a {
    display: block;
    border: 1px solid darken($gray, 5%);
    width: 88px;
    height: 88px;
    float: left;
    margin: 11px 11px;
    overflow: hidden;
    padding: 10px;
    text-align: center;

    img {
      opacity: .5;
      max-height: 66px;
    }

    &:hover,
    &:focus {
      img { opacity: .6; }      
    }
    
    // Current thumbnail being viewed
    &.current {
      img { opacity: 1; }
      border-color: $gray-dark;
    }  
  }
}