/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Heading
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Not to be confused with header.
// TODO: subheader?

// Configuration
$font-family-heading: sans-serif;

// Base class
.heading {
  font-family: $font-family-heading;
  font-size: 1em;
  font-weight: bold;
  line-height: $line-height * .8;
  margin-bottom: .5em;
  color: $black;
}

// Extra small
.heading--xs {
  @extend .heading;
}

// Small
.heading--s {
  @extend .heading;
  font-size: 1.25em;
}

// Medium
.heading--m {
  @extend .heading;
  font-size: 1.6em;
}

// Large
.heading--l {
  @extend .heading;
  font-size: 1.95em;
  letter-spacing: -.03em;
  margin-bottom: .75em;
}

// Extra large
.heading--xl {
  @extend .heading;
  font-size: 4.5em;
  letter-spacing: -.045em;
}

// Heading border
.heading--bordered {
  @extend .heading;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: .25em;
}

// Heading for sections.
.heading--section {
  @extend .heading;
  @extend .heading--bordered; // Add bottom border.
  font-size: .75em;
  font-weight: normal;
  letter-spacing: .075em;
  text-transform: uppercase;
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-lighter;
}