/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Lead
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// A lead text usually goes directly under the title of a newspaper or
// a magazine article and often functions as a teaser.

.lead {
  font-family: 'hill regular', sans-serif;
  font-size: 1.2em;
  line-height: $line-height * .95;
  margin-bottom: 1.5em;
}