/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Link
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Default look.
a,
a:link {
  color: $purple;
  text-decoration: none;
  line-height: inherit;
  @include transition(all $time-s ease-in-out);
}

// Hover and focus.
a:hover,
a:focus {
  text-decoration: underline;
}