/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Link
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Default look.
a {
  color: #000;
  text-decoration: none;
  line-height: inherit;
  @include transition(all $time-s ease-in-out);
}

// Hover
a:hover {
  text-decoration: underline;
}

// Focus
a:focus {
  // @include focus;
}