/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Link
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Default look.
a,
a:link {
  color: $purple;
  text-decoration: none;
  line-height: inherit;
}

// Hover and focus.
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

// Active
a:active {
  //...
}