/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Mixins
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
 § @font-face
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// https://github.com/thesedays/scss-mixins/blob/master/fonts.scss

@mixin font-face($font-family, $font-url, $font-file-name) {
  @font-face {
    font: {
      family: $font-family;
      style: normal;
      weight: normal;
    }

    src: url($font-url + '/' + $font-file-name + '.eot')  format('eot'), 
         url($font-url + '/' + $font-file-name + '.woff') format('woff'), 
         url($font-url + '/' + $font-file-name + '.ttf')  format('truetype'),
         url($font-url + '/' + $font-file-name + '.svg#' + $font-file-name) format('svg');
  }
} // font-face

/*
 § Image replacement
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Replace element content with an image. This image will be retrieved from the
// generated sprite. See the Grunt task 'sprite' for further details on sprite
// generation. In your scss files, use the mixin like so:
//
// .element {
//   @include image-replacement($image_file_name);  
// }
//
// To use the support for retina, make sure that you have identically named
// image files in '/images/1x' and '/images/2x'. Put images for devices with a
// pixel ration of 1 in the '1x' folder and put images with twice the resolution
// in the folder '2x'.

@mixin image-replacement($image-name) {

  // For devices with a pixel ration of 2
  @include sprite($image-name);
  text-indent: -9999em;
  display: inline-block;

  // This should be set to half the width of the 2x sprite. If the 2x sprite
  // is 200px wide, then set this value to 100px.
  background-size: 215px; 
  
  // Half the resolution for devices with a pixel ratio of 1.
  @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 96dpi) {
    background-image: url('../images/sprite_1x.png');
    background-size: auto; 
  }
} // image-replacement

/*
 § Focus
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// General style for elements in focus (using the :focus pseudo selector).

@mixin focus {
  outline: 4px solid rgba(14, 167, 226, .5);
}