/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Pager
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*ul*/#pager {
  float: left;
  margin-top: -.6em;

  li {
    display: inline-block;
    @extend .heading--s;
    padding: .25em .2em;
    margin-bottom: 0;

    a {
      color: $gray-dark;
    } 

  } // li

  .pager-current {
    background: $black;
    color: #fff;
    border-radius: 2px;
    padding: .15em .2em;
  } // pager-current

  .pager-prev {
    position: relative;
    top: 6px;
    padding: .25em .2em;
    @include image-replacement($arrow_left_small);
  }

  .pager-next {
    position: relative;
    top: 6px;
    padding: .25em .2em;
    @include image-replacement($arrow_right_small);
  }

} // pager

// Center pager
.pager--center {
  @extend .pager;
  text-align: center;
}