/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Pager
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*ul*/.pager {

  li {
    display: inline-block;
    margin: 0 -.1em;
    @extend .heading--s;

    a {
      padding: .25em .4em;
      border-radius: 2px;
      color: $gray-dark;
    } 

  } // li

  .pager__active {
    a {
      background: $black;
      color: #fff;

    }
  } // pager__active

  .pager__previous {
    a {
      position: relative;
      top: 6px;
      margin-right: 3px;
      @include image-replacement($arrow_left_small);
    }
  }

  .pager__next {
    a {
      position: relative;
      top: 6px;
      margin-left: 3px;
      @include image-replacement($arrow_right_small);
    }
  }

} // pager

// Center pager
.pager--center {
  @extend .pager;
  text-align: center;
}