/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Spacer
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// The spacer is a helper object that other elements can extend to add margins
// or padding. Add an extra large top margin to a an element like this:
//
// .example {
//   @extend %margin-top--xl;  
// }
//
// When you want to add medium sized spacers you can ommit the '--m' at the end
// of the selector name, since all spacers will default to medium unless you
// specify enything else. This means that you can add a medium left margin in
// two ways. Like this:
//
// .example {
//   @extend %margin-left;  
// }
//
// Or like this:
//
// .example {
//   @extend %margin-left--m;  
// }

/*
 § Configuration
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Set measures for spacers.
$spacer-xs: $xs; // Extra small
$spacer-s:  $s;  // Small
$spacer-m:  $m;  // Medium
$spacer-l:  $l;  // Large
$spacer-xl: $xl; // Extra large

/*
 § Margin
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%margin--xs { margin: $spacer-xs; }
%margin--s  { margin: $spacer-s; }
%margin--m  { margin: $spacer-m; }
%margin--l  { margin: $spacer-l; }
%margin--xl { margin: $spacer-xl; }
%margin     { @extend %margin--m; } // Default size is medium.

/*
 § Top margin
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%margin-top--xs { margin-top: $spacer-xs; }
%margin-top--s  { margin-top: $spacer-s; }
%margin-top--m  { margin-top: $spacer-m; }
%margin-top--l  { margin-top: $spacer-l; }
%margin-top--xl { margin-top: $spacer-xl; }
%margin-top     { @extend %margin-top--m; } // Default size is medium.

/*
 § Right margin
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%margin-right--xs { margin-right: $spacer-xs; }
%margin-right--s  { margin-right: $spacer-s; }
%margin-right--m  { margin-right: $spacer-m; }
%margin-right--l  { margin-right: $spacer-l; }
%margin-right--xl { margin-right: $spacer-xl; }
%margin-right     { @extend %margin-right--m; } // Default size is medium.

/*
 § Bottom margin
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%margin-bottom--xs { margin-bottom: $spacer-xs; }
%margin-bottom--s  { margin-bottom: $spacer-s; }
%margin-bottom--m  { margin-bottom: $spacer-m; }
%margin-bottom--l  { margin-bottom: $spacer-l; }
%margin-bottom--xl { margin-bottom: $spacer-xl; }
%margin-bottom     { @extend %margin-bottom--m; } // Default size is medium.

/*
 § Left margin
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%margin-left--xs { margin-left: $spacer-xs; }
%margin-left--s  { margin-left: $spacer-s; }
%margin-left--m  { margin-left: $spacer-m; }
%margin-left--l  { margin-left: $spacer-l; }
%margin-left--xl { margin-left: $spacer-xl; }
%margin-left     { @extend %margin-left--m; } // Default size is medium.

/*
 § Padding
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%padding--xs { padding: $spacer-xs; }
%padding--s  { padding: $spacer-s; }
%padding--m  { padding: $spacer-m; }
%padding--l  { padding: $spacer-l; }
%padding--xl { padding: $spacer-xl; }
%padding     { @extend %padding--m; } // Default size is medium.

/*
 § Top padding
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%padding-top--xs { padding-top: $spacer-xs; }
%padding-top--s  { padding-top: $spacer-s; }
%padding-top--m  { padding-top: $spacer-m; }
%padding-top--l  { padding-top: $spacer-l; }
%padding-top--xl { padding-top: $spacer-xl; }
%padding-top     { @extend %padding-top--m; } // Default size is medium.

/*
 § Right padding
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%padding-right--xs { padding-right: $spacer-xs; }
%padding-right--s  { padding-right: $spacer-s; }
%padding-right--m  { padding-right: $spacer-m; }
%padding-right--l  { padding-right: $spacer-l; }
%padding-right--xl { padding-right: $spacer-xl; }
%padding-right     { @extend %padding-right--m; } // Default size is medium.

/*
 § Bottom padding
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%padding-bottom--xs { padding-bottom: $spacer-xs; }
%padding-bottom--s  { padding-bottom: $spacer-s; }
%padding-bottom--m  { padding-bottom: $spacer-m; }
%padding-bottom--l  { padding-bottom: $spacer-l; }
%padding-bottom--xl { padding-bottom: $spacer-xl; }
%padding-bottom     { @extend %padding-bottom--m; } // Default size is medium.

/*
 § Left padding
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%padding-left--xs { padding-left: $spacer-xs; }
%padding-left--s  { padding-left: $spacer-s; }
%padding-left--m  { padding-left: $spacer-m; }
%padding-left--l  { padding-left: $spacer-l; }
%padding-left--xl { padding-left: $spacer-xl; }
%padding-left     { @extend %padding-left--m; } // Default size is medium.