  $menu-x: 0px;
  $menu-y: 0px;
  $menu-offset-x: 0px;
  $menu-offset-y: 0px;
  $menu-width: 46px;
  $menu-height: 44px;
  $menu-total-width: 430px;
  $menu-total-height: 467px;
  $menu-image: '../images/sprite_2x.png';
  $menu: 0px 0px 0px 0px 46px 44px 430px 467px '../images/sprite_2x.png';
  $smk_logo-x: 0px;
  $smk_logo-y: 251px;
  $smk_logo-offset-x: 0px;
  $smk_logo-offset-y: -251px;
  $smk_logo-width: 430px;
  $smk_logo-height: 216px;
  $smk_logo-total-width: 430px;
  $smk_logo-total-height: 467px;
  $smk_logo-image: '../images/sprite_2x.png';
  $smk_logo: 0px 251px 0px -251px 430px 216px 430px 467px '../images/sprite_2x.png';
  $smkui_logo-x: 0px;
  $smkui_logo-y: 141px;
  $smkui_logo-offset-x: 0px;
  $smkui_logo-offset-y: -141px;
  $smkui_logo-width: 324px;
  $smkui_logo-height: 90px;
  $smkui_logo-total-width: 430px;
  $smkui_logo-total-height: 467px;
  $smkui_logo-image: '../images/sprite_2x.png';
  $smkui_logo: 0px 141px 0px -141px 324px 90px 430px 467px '../images/sprite_2x.png';
  $smkui_logo_small-x: 0px;
  $smkui_logo_small-y: 64px;
  $smkui_logo_small-offset-x: 0px;
  $smkui_logo_small-offset-y: -64px;
  $smkui_logo_small-width: 222px;
  $smkui_logo_small-height: 57px;
  $smkui_logo_small-total-width: 430px;
  $smkui_logo_small-total-height: 467px;
  $smkui_logo_small-image: '../images/sprite_2x.png';
  $smkui_logo_small: 0px 64px 0px -64px 222px 57px 430px 467px '../images/sprite_2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
