  $arrow_down-x: 0px;
  $arrow_down-y: 74px;
  $arrow_down-offset-x: 0px;
  $arrow_down-offset-y: -74px;
  $arrow_down-width: 22px;
  $arrow_down-height: 20px;
  $arrow_down-total-width: 430px;
  $arrow_down-total-height: 993px;
  $arrow_down-image: '../images/sprite_2x.png';
  $arrow_down: 0px 74px 0px -74px 22px 20px 430px 993px '../images/sprite_2x.png';
  $arrow_down_black-x: 0px;
  $arrow_down_black-y: 194px;
  $arrow_down_black-offset-x: 0px;
  $arrow_down_black-offset-y: -194px;
  $arrow_down_black-width: 22px;
  $arrow_down_black-height: 20px;
  $arrow_down_black-total-width: 430px;
  $arrow_down_black-total-height: 993px;
  $arrow_down_black-image: '../images/sprite_2x.png';
  $arrow_down_black: 0px 194px 0px -194px 22px 20px 430px 993px '../images/sprite_2x.png';
  $arrow_up-x: 0px;
  $arrow_up-y: 114px;
  $arrow_up-offset-x: 0px;
  $arrow_up-offset-y: -114px;
  $arrow_up-width: 22px;
  $arrow_up-height: 20px;
  $arrow_up-total-width: 430px;
  $arrow_up-total-height: 993px;
  $arrow_up-image: '../images/sprite_2x.png';
  $arrow_up: 0px 114px 0px -114px 22px 20px 430px 993px '../images/sprite_2x.png';
  $arrow_up_black-x: 0px;
  $arrow_up_black-y: 154px;
  $arrow_up_black-offset-x: 0px;
  $arrow_up_black-offset-y: -154px;
  $arrow_up_black-width: 22px;
  $arrow_up_black-height: 20px;
  $arrow_up_black-total-width: 430px;
  $arrow_up_black-total-height: 993px;
  $arrow_up_black-image: '../images/sprite_2x.png';
  $arrow_up_black: 0px 154px 0px -154px 22px 20px 430px 993px '../images/sprite_2x.png';
  $cross-x: 0px;
  $cross-y: 36px;
  $cross-offset-x: 0px;
  $cross-offset-y: -36px;
  $cross-width: 18px;
  $cross-height: 18px;
  $cross-total-width: 430px;
  $cross-total-height: 993px;
  $cross-image: '../images/sprite_2x.png';
  $cross: 0px 36px 0px -36px 18px 18px 430px 993px '../images/sprite_2x.png';
  $facebook-x: 0px;
  $facebook-y: 406px;
  $facebook-offset-x: 0px;
  $facebook-offset-y: -406px;
  $facebook-width: 40px;
  $facebook-height: 40px;
  $facebook-total-width: 430px;
  $facebook-total-height: 993px;
  $facebook-image: '../images/sprite_2x.png';
  $facebook: 0px 406px 0px -406px 40px 40px 430px 993px '../images/sprite_2x.png';
  $google_plus-x: 0px;
  $google_plus-y: 466px;
  $google_plus-offset-x: 0px;
  $google_plus-offset-y: -466px;
  $google_plus-width: 40px;
  $google_plus-height: 40px;
  $google_plus-total-width: 430px;
  $google_plus-total-height: 993px;
  $google_plus-image: '../images/sprite_2x.png';
  $google_plus: 0px 466px 0px -466px 40px 40px 430px 993px '../images/sprite_2x.png';
  $menu-x: 0px;
  $menu-y: 526px;
  $menu-offset-x: 0px;
  $menu-offset-y: -526px;
  $menu-width: 46px;
  $menu-height: 44px;
  $menu-total-width: 430px;
  $menu-total-height: 993px;
  $menu-image: '../images/sprite_2x.png';
  $menu: 0px 526px 0px -526px 46px 44px 430px 993px '../images/sprite_2x.png';
  $pinterest-x: 0px;
  $pinterest-y: 346px;
  $pinterest-offset-x: 0px;
  $pinterest-offset-y: -346px;
  $pinterest-width: 40px;
  $pinterest-height: 40px;
  $pinterest-total-width: 430px;
  $pinterest-total-height: 993px;
  $pinterest-image: '../images/sprite_2x.png';
  $pinterest: 0px 346px 0px -346px 40px 40px 430px 993px '../images/sprite_2x.png';
  $search-x: 0px;
  $search-y: 234px;
  $search-offset-x: 0px;
  $search-offset-y: -234px;
  $search-width: 32px;
  $search-height: 32px;
  $search-total-width: 430px;
  $search-total-height: 993px;
  $search-image: '../images/sprite_2x.png';
  $search: 0px 234px 0px -234px 32px 32px 430px 993px '../images/sprite_2x.png';
  $smk_logo-x: 0px;
  $smk_logo-y: 777px;
  $smk_logo-offset-x: 0px;
  $smk_logo-offset-y: -777px;
  $smk_logo-width: 430px;
  $smk_logo-height: 216px;
  $smk_logo-total-width: 430px;
  $smk_logo-total-height: 993px;
  $smk_logo-image: '../images/sprite_2x.png';
  $smk_logo: 0px 777px 0px -777px 430px 216px 430px 993px '../images/sprite_2x.png';
  $smkui_logo-x: 0px;
  $smkui_logo-y: 667px;
  $smkui_logo-offset-x: 0px;
  $smkui_logo-offset-y: -667px;
  $smkui_logo-width: 324px;
  $smkui_logo-height: 90px;
  $smkui_logo-total-width: 430px;
  $smkui_logo-total-height: 993px;
  $smkui_logo-image: '../images/sprite_2x.png';
  $smkui_logo: 0px 667px 0px -667px 324px 90px 430px 993px '../images/sprite_2x.png';
  $smkui_logo_small-x: 0px;
  $smkui_logo_small-y: 590px;
  $smkui_logo_small-offset-x: 0px;
  $smkui_logo_small-offset-y: -590px;
  $smkui_logo_small-width: 222px;
  $smkui_logo_small-height: 57px;
  $smkui_logo_small-total-width: 430px;
  $smkui_logo_small-total-height: 993px;
  $smkui_logo_small-image: '../images/sprite_2x.png';
  $smkui_logo_small: 0px 590px 0px -590px 222px 57px 430px 993px '../images/sprite_2x.png';
  $triangle_down-x: 0px;
  $triangle_down-y: 0px;
  $triangle_down-offset-x: 0px;
  $triangle_down-offset-y: 0px;
  $triangle_down-width: 32px;
  $triangle_down-height: 16px;
  $triangle_down-total-width: 430px;
  $triangle_down-total-height: 993px;
  $triangle_down-image: '../images/sprite_2x.png';
  $triangle_down: 0px 0px 0px 0px 32px 16px 430px 993px '../images/sprite_2x.png';
  $twitter-x: 0px;
  $twitter-y: 286px;
  $twitter-offset-x: 0px;
  $twitter-offset-y: -286px;
  $twitter-width: 40px;
  $twitter-height: 40px;
  $twitter-total-width: 430px;
  $twitter-total-height: 993px;
  $twitter-image: '../images/sprite_2x.png';
  $twitter: 0px 286px 0px -286px 40px 40px 430px 993px '../images/sprite_2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
