  $arrow_down-x: 0px;
  $arrow_down-y: 110px;
  $arrow_down-offset-x: 0px;
  $arrow_down-offset-y: -110px;
  $arrow_down-width: 22px;
  $arrow_down-height: 20px;
  $arrow_down-total-width: 430px;
  $arrow_down-total-height: 1279px;
  $arrow_down-image: '../images/sprite_2x.png';
  $arrow_down: 0px 110px 0px -110px 22px 20px 430px 1279px '../images/sprite_2x.png';
  $arrow_down_black-x: 0px;
  $arrow_down_black-y: 230px;
  $arrow_down_black-offset-x: 0px;
  $arrow_down_black-offset-y: -230px;
  $arrow_down_black-width: 22px;
  $arrow_down_black-height: 20px;
  $arrow_down_black-total-width: 430px;
  $arrow_down_black-total-height: 1279px;
  $arrow_down_black-image: '../images/sprite_2x.png';
  $arrow_down_black: 0px 230px 0px -230px 22px 20px 430px 1279px '../images/sprite_2x.png';
  $arrow_down_small-x: 0px;
  $arrow_down_small-y: 0px;
  $arrow_down_small-offset-x: 0px;
  $arrow_down_small-offset-y: 0px;
  $arrow_down_small-width: 18px;
  $arrow_down_small-height: 16px;
  $arrow_down_small-total-width: 430px;
  $arrow_down_small-total-height: 1279px;
  $arrow_down_small-image: '../images/sprite_2x.png';
  $arrow_down_small: 0px 0px 0px 0px 18px 16px 430px 1279px '../images/sprite_2x.png';
  $arrow_up-x: 0px;
  $arrow_up-y: 150px;
  $arrow_up-offset-x: 0px;
  $arrow_up-offset-y: -150px;
  $arrow_up-width: 22px;
  $arrow_up-height: 20px;
  $arrow_up-total-width: 430px;
  $arrow_up-total-height: 1279px;
  $arrow_up-image: '../images/sprite_2x.png';
  $arrow_up: 0px 150px 0px -150px 22px 20px 430px 1279px '../images/sprite_2x.png';
  $arrow_up_black-x: 0px;
  $arrow_up_black-y: 190px;
  $arrow_up_black-offset-x: 0px;
  $arrow_up_black-offset-y: -190px;
  $arrow_up_black-width: 22px;
  $arrow_up_black-height: 20px;
  $arrow_up_black-total-width: 430px;
  $arrow_up_black-total-height: 1279px;
  $arrow_up_black-image: '../images/sprite_2x.png';
  $arrow_up_black: 0px 190px 0px -190px 22px 20px 430px 1279px '../images/sprite_2x.png';
  $back_button-x: 0px;
  $back_button-y: 853px;
  $back_button-offset-x: 0px;
  $back_button-offset-y: -853px;
  $back_button-width: 80px;
  $back_button-height: 80px;
  $back_button-total-width: 430px;
  $back_button-total-height: 1279px;
  $back_button-image: '../images/sprite_2x.png';
  $back_button: 0px 853px 0px -853px 80px 80px 430px 1279px '../images/sprite_2x.png';
  $cross-x: 0px;
  $cross-y: 72px;
  $cross-offset-x: 0px;
  $cross-offset-y: -72px;
  $cross-width: 18px;
  $cross-height: 18px;
  $cross-total-width: 430px;
  $cross-total-height: 1279px;
  $cross-image: '../images/sprite_2x.png';
  $cross: 0px 72px 0px -72px 18px 18px 430px 1279px '../images/sprite_2x.png';
  $facebook-x: 0px;
  $facebook-y: 532px;
  $facebook-offset-x: 0px;
  $facebook-offset-y: -532px;
  $facebook-width: 40px;
  $facebook-height: 40px;
  $facebook-total-width: 430px;
  $facebook-total-height: 1279px;
  $facebook-image: '../images/sprite_2x.png';
  $facebook: 0px 532px 0px -532px 40px 40px 430px 1279px '../images/sprite_2x.png';
  $google_plus-x: 0px;
  $google_plus-y: 472px;
  $google_plus-offset-x: 0px;
  $google_plus-offset-y: -472px;
  $google_plus-width: 40px;
  $google_plus-height: 40px;
  $google_plus-total-width: 430px;
  $google_plus-total-height: 1279px;
  $google_plus-image: '../images/sprite_2x.png';
  $google_plus: 0px 472px 0px -472px 40px 40px 430px 1279px '../images/sprite_2x.png';
  $grid-x: 0px;
  $grid-y: 370px;
  $grid-offset-x: 0px;
  $grid-offset-y: -370px;
  $grid-width: 34px;
  $grid-height: 30px;
  $grid-total-width: 430px;
  $grid-total-height: 1279px;
  $grid-image: '../images/sprite_2x.png';
  $grid: 0px 370px 0px -370px 34px 30px 430px 1279px '../images/sprite_2x.png';
  $image-x: 0px;
  $image-y: 320px;
  $image-offset-x: 0px;
  $image-offset-y: -320px;
  $image-width: 36px;
  $image-height: 30px;
  $image-total-width: 430px;
  $image-total-height: 1279px;
  $image-image: '../images/sprite_2x.png';
  $image: 0px 320px 0px -320px 36px 30px 430px 1279px '../images/sprite_2x.png';
  $list-x: 0px;
  $list-y: 270px;
  $list-offset-x: 0px;
  $list-offset-y: -270px;
  $list-width: 34px;
  $list-height: 30px;
  $list-total-width: 430px;
  $list-total-height: 1279px;
  $list-image: '../images/sprite_2x.png';
  $list: 0px 270px 0px -270px 34px 30px 430px 1279px '../images/sprite_2x.png';
  $menu-x: 0px;
  $menu-y: 712px;
  $menu-offset-x: 0px;
  $menu-offset-y: -712px;
  $menu-width: 46px;
  $menu-height: 44px;
  $menu-total-width: 430px;
  $menu-total-height: 1279px;
  $menu-image: '../images/sprite_2x.png';
  $menu: 0px 712px 0px -712px 46px 44px 430px 1279px '../images/sprite_2x.png';
  $pinterest-x: 0px;
  $pinterest-y: 592px;
  $pinterest-offset-x: 0px;
  $pinterest-offset-y: -592px;
  $pinterest-width: 40px;
  $pinterest-height: 40px;
  $pinterest-total-width: 430px;
  $pinterest-total-height: 1279px;
  $pinterest-image: '../images/sprite_2x.png';
  $pinterest: 0px 592px 0px -592px 40px 40px 430px 1279px '../images/sprite_2x.png';
  $search-x: 0px;
  $search-y: 420px;
  $search-offset-x: 0px;
  $search-offset-y: -420px;
  $search-width: 32px;
  $search-height: 32px;
  $search-total-width: 430px;
  $search-total-height: 1279px;
  $search-image: '../images/sprite_2x.png';
  $search: 0px 420px 0px -420px 32px 32px 430px 1279px '../images/sprite_2x.png';
  $smk_logo-x: 0px;
  $smk_logo-y: 1063px;
  $smk_logo-offset-x: 0px;
  $smk_logo-offset-y: -1063px;
  $smk_logo-width: 430px;
  $smk_logo-height: 216px;
  $smk_logo-total-width: 430px;
  $smk_logo-total-height: 1279px;
  $smk_logo-image: '../images/sprite_2x.png';
  $smk_logo: 0px 1063px 0px -1063px 430px 216px 430px 1279px '../images/sprite_2x.png';
  $smkui_logo-x: 0px;
  $smkui_logo-y: 953px;
  $smkui_logo-offset-x: 0px;
  $smkui_logo-offset-y: -953px;
  $smkui_logo-width: 324px;
  $smkui_logo-height: 90px;
  $smkui_logo-total-width: 430px;
  $smkui_logo-total-height: 1279px;
  $smkui_logo-image: '../images/sprite_2x.png';
  $smkui_logo: 0px 953px 0px -953px 324px 90px 430px 1279px '../images/sprite_2x.png';
  $smkui_logo_small-x: 0px;
  $smkui_logo_small-y: 776px;
  $smkui_logo_small-offset-x: 0px;
  $smkui_logo_small-offset-y: -776px;
  $smkui_logo_small-width: 222px;
  $smkui_logo_small-height: 57px;
  $smkui_logo_small-total-width: 430px;
  $smkui_logo_small-total-height: 1279px;
  $smkui_logo_small-image: '../images/sprite_2x.png';
  $smkui_logo_small: 0px 776px 0px -776px 222px 57px 430px 1279px '../images/sprite_2x.png';
  $triangle_down-x: 0px;
  $triangle_down-y: 36px;
  $triangle_down-offset-x: 0px;
  $triangle_down-offset-y: -36px;
  $triangle_down-width: 32px;
  $triangle_down-height: 16px;
  $triangle_down-total-width: 430px;
  $triangle_down-total-height: 1279px;
  $triangle_down-image: '../images/sprite_2x.png';
  $triangle_down: 0px 36px 0px -36px 32px 16px 430px 1279px '../images/sprite_2x.png';
  $twitter-x: 0px;
  $twitter-y: 652px;
  $twitter-offset-x: 0px;
  $twitter-offset-y: -652px;
  $twitter-width: 40px;
  $twitter-height: 40px;
  $twitter-total-width: 430px;
  $twitter-total-height: 1279px;
  $twitter-image: '../images/sprite_2x.png';
  $twitter: 0px 652px 0px -652px 40px 40px 430px 1279px '../images/sprite_2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
