  $arrow_down-x: 0px;
  $arrow_down-y: 55px;
  $arrow_down-offset-x: 0px;
  $arrow_down-offset-y: -55px;
  $arrow_down-width: 11px;
  $arrow_down-height: 10px;
  $arrow_down-total-width: 215px;
  $arrow_down-total-height: 590px;
  $arrow_down-image: '../images/sprite_2x.png';
  $arrow_down: 0px 55px 0px -55px 11px 10px 215px 590px '../images/sprite_2x.png';
  $arrow_down_black-x: 0px;
  $arrow_down_black-y: 115px;
  $arrow_down_black-offset-x: 0px;
  $arrow_down_black-offset-y: -115px;
  $arrow_down_black-width: 11px;
  $arrow_down_black-height: 10px;
  $arrow_down_black-total-width: 215px;
  $arrow_down_black-total-height: 590px;
  $arrow_down_black-image: '../images/sprite_2x.png';
  $arrow_down_black: 0px 115px 0px -115px 11px 10px 215px 590px '../images/sprite_2x.png';
  $arrow_down_small-x: 0px;
  $arrow_down_small-y: 0px;
  $arrow_down_small-offset-x: 0px;
  $arrow_down_small-offset-y: 0px;
  $arrow_down_small-width: 9px;
  $arrow_down_small-height: 8px;
  $arrow_down_small-total-width: 215px;
  $arrow_down_small-total-height: 590px;
  $arrow_down_small-image: '../images/sprite_2x.png';
  $arrow_down_small: 0px 0px 0px 0px 9px 8px 215px 590px '../images/sprite_2x.png';
  $arrow_up-x: 0px;
  $arrow_up-y: 75px;
  $arrow_up-offset-x: 0px;
  $arrow_up-offset-y: -75px;
  $arrow_up-width: 11px;
  $arrow_up-height: 10px;
  $arrow_up-total-width: 215px;
  $arrow_up-total-height: 590px;
  $arrow_up-image: '../images/sprite_2x.png';
  $arrow_up: 0px 75px 0px -75px 11px 10px 215px 590px '../images/sprite_2x.png';
  $arrow_up_black-x: 0px;
  $arrow_up_black-y: 95px;
  $arrow_up_black-offset-x: 0px;
  $arrow_up_black-offset-y: -95px;
  $arrow_up_black-width: 11px;
  $arrow_up_black-height: 10px;
  $arrow_up_black-total-width: 215px;
  $arrow_up_black-total-height: 590px;
  $arrow_up_black-image: '../images/sprite_2x.png';
  $arrow_up_black: 0px 95px 0px -95px 11px 10px 215px 590px '../images/sprite_2x.png';
  $cross-x: 0px;
  $cross-y: 36px;
  $cross-offset-x: 0px;
  $cross-offset-y: -36px;
  $cross-width: 9px;
  $cross-height: 9px;
  $cross-total-width: 215px;
  $cross-total-height: 590px;
  $cross-image: '../images/sprite_2x.png';
  $cross: 0px 36px 0px -36px 9px 9px 215px 590px '../images/sprite_2x.png';
  $facebook-x: 0px;
  $facebook-y: 296px;
  $facebook-offset-x: 0px;
  $facebook-offset-y: -296px;
  $facebook-width: 20px;
  $facebook-height: 20px;
  $facebook-total-width: 215px;
  $facebook-total-height: 590px;
  $facebook-image: '../images/sprite_2x.png';
  $facebook: 0px 296px 0px -296px 20px 20px 215px 590px '../images/sprite_2x.png';
  $google_plus-x: 0px;
  $google_plus-y: 236px;
  $google_plus-offset-x: 0px;
  $google_plus-offset-y: -236px;
  $google_plus-width: 20px;
  $google_plus-height: 20px;
  $google_plus-total-width: 215px;
  $google_plus-total-height: 590px;
  $google_plus-image: '../images/sprite_2x.png';
  $google_plus: 0px 236px 0px -236px 20px 20px 215px 590px '../images/sprite_2x.png';
  $grid-x: 0px;
  $grid-y: 160px;
  $grid-offset-x: 0px;
  $grid-offset-y: -160px;
  $grid-width: 17px;
  $grid-height: 15px;
  $grid-total-width: 215px;
  $grid-total-height: 590px;
  $grid-image: '../images/sprite_2x.png';
  $grid: 0px 160px 0px -160px 17px 15px 215px 590px '../images/sprite_2x.png';
  $image-x: 0px;
  $image-y: 185px;
  $image-offset-x: 0px;
  $image-offset-y: -185px;
  $image-width: 18px;
  $image-height: 15px;
  $image-total-width: 215px;
  $image-total-height: 590px;
  $image-image: '../images/sprite_2x.png';
  $image: 0px 185px 0px -185px 18px 15px 215px 590px '../images/sprite_2x.png';
  $list-x: 0px;
  $list-y: 135px;
  $list-offset-x: 0px;
  $list-offset-y: -135px;
  $list-width: 17px;
  $list-height: 15px;
  $list-total-width: 215px;
  $list-total-height: 590px;
  $list-image: '../images/sprite_2x.png';
  $list: 0px 135px 0px -135px 17px 15px 215px 590px '../images/sprite_2x.png';
  $menu-x: 0px;
  $menu-y: 356px;
  $menu-offset-x: 0px;
  $menu-offset-y: -356px;
  $menu-width: 23px;
  $menu-height: 22px;
  $menu-total-width: 215px;
  $menu-total-height: 590px;
  $menu-image: '../images/sprite_2x.png';
  $menu: 0px 356px 0px -356px 23px 22px 215px 590px '../images/sprite_2x.png';
  $pinterest-x: 0px;
  $pinterest-y: 266px;
  $pinterest-offset-x: 0px;
  $pinterest-offset-y: -266px;
  $pinterest-width: 20px;
  $pinterest-height: 20px;
  $pinterest-total-width: 215px;
  $pinterest-total-height: 590px;
  $pinterest-image: '../images/sprite_2x.png';
  $pinterest: 0px 266px 0px -266px 20px 20px 215px 590px '../images/sprite_2x.png';
  $search-x: 0px;
  $search-y: 210px;
  $search-offset-x: 0px;
  $search-offset-y: -210px;
  $search-width: 16px;
  $search-height: 16px;
  $search-total-width: 215px;
  $search-total-height: 590px;
  $search-image: '../images/sprite_2x.png';
  $search: 0px 210px 0px -210px 16px 16px 215px 590px '../images/sprite_2x.png';
  $smk_logo-x: 0px;
  $smk_logo-y: 482px;
  $smk_logo-offset-x: 0px;
  $smk_logo-offset-y: -482px;
  $smk_logo-width: 215px;
  $smk_logo-height: 108px;
  $smk_logo-total-width: 215px;
  $smk_logo-total-height: 590px;
  $smk_logo-image: '../images/sprite_2x.png';
  $smk_logo: 0px 482px 0px -482px 215px 108px 215px 590px '../images/sprite_2x.png';
  $smkui_logo-x: 0px;
  $smkui_logo-y: 427px;
  $smkui_logo-offset-x: 0px;
  $smkui_logo-offset-y: -427px;
  $smkui_logo-width: 162px;
  $smkui_logo-height: 45px;
  $smkui_logo-total-width: 215px;
  $smkui_logo-total-height: 590px;
  $smkui_logo-image: '../images/sprite_2x.png';
  $smkui_logo: 0px 427px 0px -427px 162px 45px 215px 590px '../images/sprite_2x.png';
  $smkui_logo_small-x: 0px;
  $smkui_logo_small-y: 388px;
  $smkui_logo_small-offset-x: 0px;
  $smkui_logo_small-offset-y: -388px;
  $smkui_logo_small-width: 112px;
  $smkui_logo_small-height: 29px;
  $smkui_logo_small-total-width: 215px;
  $smkui_logo_small-total-height: 590px;
  $smkui_logo_small-image: '../images/sprite_2x.png';
  $smkui_logo_small: 0px 388px 0px -388px 112px 29px 215px 590px '../images/sprite_2x.png';
  $triangle_down-x: 0px;
  $triangle_down-y: 18px;
  $triangle_down-offset-x: 0px;
  $triangle_down-offset-y: -18px;
  $triangle_down-width: 16px;
  $triangle_down-height: 8px;
  $triangle_down-total-width: 215px;
  $triangle_down-total-height: 590px;
  $triangle_down-image: '../images/sprite_2x.png';
  $triangle_down: 0px 18px 0px -18px 16px 8px 215px 590px '../images/sprite_2x.png';
  $twitter-x: 0px;
  $twitter-y: 326px;
  $twitter-offset-x: 0px;
  $twitter-offset-y: -326px;
  $twitter-width: 20px;
  $twitter-height: 20px;
  $twitter-total-width: 215px;
  $twitter-total-height: 590px;
  $twitter-image: '../images/sprite_2x.png';
  $twitter: 0px 326px 0px -326px 20px 20px 215px 590px '../images/sprite_2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
