  $arrow_down-x: 0px;
  $arrow_down-y: 19px;
  $arrow_down-offset-x: 0px;
  $arrow_down-offset-y: -19px;
  $arrow_down-width: 11px;
  $arrow_down-height: 10px;
  $arrow_down-total-width: 215px;
  $arrow_down-total-height: 359px;
  $arrow_down-image: '../images/sprite_2x.png';
  $arrow_down: 0px 19px 0px -19px 11px 10px 215px 359px '../images/sprite_2x.png';
  $arrow_down_black-x: 0px;
  $arrow_down_black-y: 39px;
  $arrow_down_black-offset-x: 0px;
  $arrow_down_black-offset-y: -39px;
  $arrow_down_black-width: 11px;
  $arrow_down_black-height: 10px;
  $arrow_down_black-total-width: 215px;
  $arrow_down_black-total-height: 359px;
  $arrow_down_black-image: '../images/sprite_2x.png';
  $arrow_down_black: 0px 39px 0px -39px 11px 10px 215px 359px '../images/sprite_2x.png';
  $arrow_up-x: 0px;
  $arrow_up-y: 59px;
  $arrow_up-offset-x: 0px;
  $arrow_up-offset-y: -59px;
  $arrow_up-width: 11px;
  $arrow_up-height: 10px;
  $arrow_up-total-width: 215px;
  $arrow_up-total-height: 359px;
  $arrow_up-image: '../images/sprite_2x.png';
  $arrow_up: 0px 59px 0px -59px 11px 10px 215px 359px '../images/sprite_2x.png';
  $arrow_up_black-x: 0px;
  $arrow_up_black-y: 79px;
  $arrow_up_black-offset-x: 0px;
  $arrow_up_black-offset-y: -79px;
  $arrow_up_black-width: 11px;
  $arrow_up_black-height: 10px;
  $arrow_up_black-total-width: 215px;
  $arrow_up_black-total-height: 359px;
  $arrow_up_black-image: '../images/sprite_2x.png';
  $arrow_up_black: 0px 79px 0px -79px 11px 10px 215px 359px '../images/sprite_2x.png';
  $cross-x: 0px;
  $cross-y: 0px;
  $cross-offset-x: 0px;
  $cross-offset-y: 0px;
  $cross-width: 9px;
  $cross-height: 9px;
  $cross-total-width: 215px;
  $cross-total-height: 359px;
  $cross-image: '../images/sprite_2x.png';
  $cross: 0px 0px 0px 0px 9px 9px 215px 359px '../images/sprite_2x.png';
  $menu-x: 0px;
  $menu-y: 125px;
  $menu-offset-x: 0px;
  $menu-offset-y: -125px;
  $menu-width: 23px;
  $menu-height: 22px;
  $menu-total-width: 215px;
  $menu-total-height: 359px;
  $menu-image: '../images/sprite_2x.png';
  $menu: 0px 125px 0px -125px 23px 22px 215px 359px '../images/sprite_2x.png';
  $search-x: 0px;
  $search-y: 99px;
  $search-offset-x: 0px;
  $search-offset-y: -99px;
  $search-width: 16px;
  $search-height: 16px;
  $search-total-width: 215px;
  $search-total-height: 359px;
  $search-image: '../images/sprite_2x.png';
  $search: 0px 99px 0px -99px 16px 16px 215px 359px '../images/sprite_2x.png';
  $smk_logo-x: 0px;
  $smk_logo-y: 251px;
  $smk_logo-offset-x: 0px;
  $smk_logo-offset-y: -251px;
  $smk_logo-width: 215px;
  $smk_logo-height: 108px;
  $smk_logo-total-width: 215px;
  $smk_logo-total-height: 359px;
  $smk_logo-image: '../images/sprite_2x.png';
  $smk_logo: 0px 251px 0px -251px 215px 108px 215px 359px '../images/sprite_2x.png';
  $smkui_logo-x: 0px;
  $smkui_logo-y: 196px;
  $smkui_logo-offset-x: 0px;
  $smkui_logo-offset-y: -196px;
  $smkui_logo-width: 162px;
  $smkui_logo-height: 45px;
  $smkui_logo-total-width: 215px;
  $smkui_logo-total-height: 359px;
  $smkui_logo-image: '../images/sprite_2x.png';
  $smkui_logo: 0px 196px 0px -196px 162px 45px 215px 359px '../images/sprite_2x.png';
  $smkui_logo_small-x: 0px;
  $smkui_logo_small-y: 157px;
  $smkui_logo_small-offset-x: 0px;
  $smkui_logo_small-offset-y: -157px;
  $smkui_logo_small-width: 112px;
  $smkui_logo_small-height: 29px;
  $smkui_logo_small-total-width: 215px;
  $smkui_logo_small-total-height: 359px;
  $smkui_logo_small-image: '../images/sprite_2x.png';
  $smkui_logo_small: 0px 157px 0px -157px 112px 29px 215px 359px '../images/sprite_2x.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
