/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Teaser
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
 § Grid layout (default)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Container required by Masonry (see http://masonry.desandro.com/)
#teaser-container-grid {
  margin-right: -1.6%;
  margin-left: -1.6%;  
}

// Layout
.teaser,
.teaser--grid {
  width: 30.12%;
  border-bottom: 1px solid darken($gray, 10%);
  padding-bottom: 1.35em;
  margin-right: 1.6%;
  margin-left: 1.6%;
  margin-bottom: 1.35em;
  position: relative;

  // Hover styles
  &.clickable:hover,
  &.clickable:focus {

    .teaser__wrapper {
      // cursor: pointer;
      // background: $yellow-dim;
      // @include box-shadow(0 0 0 7px $yellow-dim);
    }

    .teaser__heading a {
      // color: $black;
    }
  }
} // teaser--grid

// Inner wrapper
.teaser__wrapper {
  @include clearfix;
  @include transition(all $time-s ease-in-out);
}

// Thumbnail
.teaser__thumbnail {
  margin-bottom: 1.5em;
  @include transition(opacity $time-s ease-in-out);

  &:hover,
  &:focus {
    opacity: .85;
  }

  img[src*="default_picture"] {
    opacity: .3;
  }
}

// Category
.teaser__category {
  @extend .type--small;
  color: $gray-dark;
  text-transform: uppercase;
  margin-bottom: .5em;

  li {
    display: inline-block;
    border-right: 1px solid $gray-dark;
    margin-right: $s * .75;
    padding-right: $s * 1.1;
    line-height: normal;
  }

  // Remove border from last item.
  li:last-child { border: 0; }

  a {
    color: $gray-dark;
    display: inline-block;

    &:hover,
    &:focus {
      color: $purple;
      text-decoration: none;   
    }
  }
} // teaser__category

// Title
.teaser__heading {
  @extend .type--bold;
  margin-bottom: .5em;
}

// Description 
.teaser__description {
  margin-bottom: 1em;
}

// Meta-information
.teaser__meta {
  @extend .type--small;
  margin-top: .5em;
  color: $gray-dark;

  li {
    color: $gray-dark;
  }
  
  // Label
  span {
    color: $gray-dark;

    // text-transform: uppercase;
    &:after {
      content: ":";
    }
  }
}

/*
 § List layout
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.teaser--list {
  @extend .teaser;
  @include clearfix;
  width: 638px; // One column layout
  margin-bottom: 0;
  padding-top: 1.35em;
  padding-bottom: 1.35em;

  .teaser__thumbnail {
    float: left;
    width: 88px;
    margin-right: 20px;
    margin-bottom: 0;

    > a {
      display: block;
      border: 1px solid darken($gray, 5%);
      width: 88px;
      height: 88px;
      overflow: hidden;
      padding: 10px;
      text-align: center;
    }

    img {
      max-height: 66px;
    }
  }

  // Content (title, description etc.)
  .teaser__content {
    width: 530px;
    float: left;
  }

  .teaser__description {
    margin-bottom: 0;
  }

  // Meta-information
  .teaser__meta {
    @extend .teaser__meta; // Display inline.
    // display: none;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

// List items in two columns.
// This is for .teaser--list only.
.teaser--two-columns {
  width: 416px;
  float: left;
  margin-right: 12px;
  margin-left: 12px;
  min-height: 150px;

  .teaser__content {
    width: 308px;
    float: right;
  }
}

// Add a top border to the first two teaser list items in a two column layout
#teaser-container-grid {
  .teaser--two-columns:first-child,
  .teaser--two-columns:nth-child(2) {
    border-top: 1px solid darken($gray, 10%);
  }
}