/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Typeahead
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Styling the Typeahead field and dropdown.
// https://github.com/twitter/typeahead.js

/*
 § Wrapper element
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*span*/.twitter-typeahead {
  width: 100%;
}

/*
 § Field
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*input*/.typeahead {
  background-color: $gray !important; // Overriding Typeaheads inline styles.
}

/*
 § Field focus state
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*input*/.typeahead:focus {
  background-color: #fff !important; // Overriding Typeaheads inline styles.
}

/*
 § Dropdown
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tt-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid $black;
  // margin-top: 5px;
  @include box-shadow(0 4px 3px 0 rgba(0, 0, 0, .2));
}

/*
 § Suggestion
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tt-suggestions {
  .tt-suggestion {
    color: $gray-dark;
    padding: .5em .55em;
  }

  // Item 'under cursor' (also works for keyboard navigation)
  .tt-is-under-cursor {
    color: $black;
    background-color: $yellow-dim;
    border-color: $yellow-dim;
  }
}