/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § View picker
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// An iconified radio button group to set the view style.

.view-picker {
  @include clearfix;

  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  label {
    opacity: .3;
    @include image-replacement($grid);
    display: block;
    float: left;
    margin-right: .65em;

    // Hover state
    &:hover,
    &:focus {
      opacity: .4;
      outline: none;   
    }
  }

  // List
  label.list {
    @include image-replacement($list);
  }
  
  // Images only
  label.image {
    @include image-replacement($image);
  }


  // When checked
  input[type="radio"]:checked + label {
    opacity: 1;
  }
}