---
slug:     about
category: pages
title:    About
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">TODO: quick introduction...</p>
  </header>

  <div class="subsection">
    <h2 class="heading">What is this?</h2>
  </div>

  <div class="subsection">
    <h2 class="heading">GitHub repository</h2>
  </div>

  <div class="subsection">
    <h2 class="heading">Main contributors</h2>
      <ul class="list">
      {{#each app.contributors}}
        <li>{{this}} <small>(noget)</small></li>
      {{/each}}
      </ul>
  </div>

  <div class="subsection">
    <h2 class="heading">Contact</h2>
  </div>

</article>