---
slug:     buttons
category: components
title:    Buttons
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">Buttons can be tweaked in three main ways; Size, color, and subtleness. Mostly you will need the default medium-sized black button, but all the other styling options are available for special occasions.</p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Default button</h2>
    <p>Buttons come in three different sizes; small, medium, and large. The large button is intended for landing pages or the like.</p>
    <p><a class="button--s" href="#">Small</a></p>
    <p><a class="button" href="#">Medium</a></p>
    <p><a class="button--l" href="#">Large</a></p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Disabled button</h2>
    <p>Use this style when a button isn't clickable.</p>
    <p><a class="button--disabled button--s" href="#">Can't touch this</a></p>
    <p><a class="button--disabled" href="#">Can't touch this</a></p>
    <p><a class="button--disabled button--l" href="#">Can't touch this</a></p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Thinking button</h2>
    <p>Suitable for indicating ajaxy behavior.</p>
    <p><a class="button--s button--thinking" href="#">I am thinking</a></p>
    <p><a class="button button--thinking" href="#">I am thinking</a></p>
    <p><a class="button--l button--thinking" href="#">I am thinking</a></p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Subtle buttons</h2>
    <p>Less striking than a typical button, but more prominent than a simple text link.</p>
    <p><a class="button--s button--subtle" href="#">Small</a></p>
    <p><a class="button--subtle" href="#">Medium</a></p>
    <p><a class="button--l button--subtle" href="#">Large</a></p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Button colors</h2>
    <p>While the black button is the default style there may be situations where you need a more prominent look.</p>
    <p><a class="button--purple" href="#">Purple</a> <a class="button--purple button--subtle" href="#">Purple</a></p>
    <p><a class="button--red" href="#">Red</a> <a class="button--red button--subtle" href="#">Red</a></p>
    <p><a class="button--blue" href="#">Blue</a> <a class="button--blue button--subtle" href="#">Blue</a></p>
    <p><a class="button--green" href="#">Green</a> <a class="button--green button--subtle" href="#">Green</a></p>
    <p><a class="button--yellow" href="#">Yellow</a></p>
  </div><!-- subsection -->

</article>