---
slug:     colors
category: design
title:    Colors
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
  </header>

  <div class="subsection">
    <h2 class="heading">Primary colors</h2>

    <div class="color black"><span>Black #111</span></div>
    <div class="color yellow"><span>Yellow #ffe669</span></div>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Grays</h2>

    <div class="color gray"><span>Gray #ecedf2</span></div>
    <div class="color gray-light"><span>Dark Gray #a2a2a5</span></div>
    <div class="color gray-light"><span>Darker Gray #5f5f60</span></div>
    <div class="color gray-light"><span>Darkest Gray #39393a</span></div>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Supplementary colors</h2>

    <div class="color cream"><span>Cream #fff8ed</span></div>
    <div class="color Dim yellow"><span>Dim yellow #fff8ac</span></div>
    <div class="color red-lighter"><span>Lighter red #ffd9e5</span></div>
    <div class="color red"><span>Red #ea4766</span></div>
    <div class="color purple"><span>Purple #5f66f2</span></div>
    <div class="color blue"><span>Blue #0ea7e2</span></div>
    <div class="color green"><span>Green #27cc6e</span></div>
  </div><!-- subsection -->

</article>
