---
slug:     copy
category: typography
title:    Copy
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      This page shows how different level headings, bulleted lists, quotes, and other typographic elements play together. Bits form Oscar Wilde's <i>'The Picture of Dorian Gray'</i> is used as filler text.
    </p>
  </header>
  
  <div class="copy">
    <h1>The Picture of Dorian Gray (h1)</h1>

    <h2>Chapter 1 (h2)</h2>
    <p>The studio was filled with the rich odour of roses, and when the light summer wind stirred amidst the trees of the garden, there came through the open door the heavy scent of the lilac, or the more delicate perfume of the pink-flowering thorn.</p>
    
    <p>From the corner of the divan of <a href="#">Persian saddle-bags</a> on which he was lying, smoking, as was his custom, innumerable cigarettes, Lord Henry Wotton could just catch the gleam of the honey-sweet and honey-coloured blossoms of a laburnum, whose tremulous branches seemed hardly able to bear the burden of a beauty so flamelike as theirs; and now and then the fantastic shadows of birds in...</p>

    <h3>It is your best work, Basil (h3)</h3>
    <p>"The best thing you have ever done," said Lord Henry languidly<sup>1</sup>. "You must certainly<sup>2</sup> send it next year to the <a href="#">Grosvenor</a>. The Academy<sup>3</sup> is too large and too vulgar. Whenever<sub>4</sub> I have gone there, there have been either so many people<sub>5</sub> that I have not been able to see the pictures, which was..."</p>

    <h4>I don't think I shall send it anywhere (h4)</h4>
    <p><i>Tossing his head back in that odd way that used to make his friends laugh at him at Oxford.</i> "No, I won't send it anywhere."</p>

    <h5>Too much of yourself in it! (h5)</h5>
    <p>Upon my word, Basil, I didn't know you were so vain; and I really can't see any <b>resemblance between you</b>, with your rugged strong face and your coal-black hair, and this young Adonis, who looks as if he was made out of ivory and rose-leaves.</p>

    <h6>Why, my dear Basil, he is a Narcissus (h6)</h6>
    <p>And you, well, of course you have an intellectual expression and all that. But beauty, real beauty, ends where an intellectual expression begins. Intellect is in itself a mode of exaggeration, and destroys the harmony of any face.</p>

    <hr>
    
    <ul>
      <li>The moment one sits down to think</li>
      <li>One becomes all nose</li>
      <li>Or all forehead,</li>
      <li>Or something horrid</li>
    </ul>

    <ol>
      <li>Your mysterious young friend</li>
      <li>Whose name you have never told me</li>
      <li>But whose picture really fascinates me</li>
      <li>Never thinks</li>
    </ol>

    <p>Look at the successful men in any of the learned professions. How <a href="#">perfectly hideous</a> they are! Except, of course, in the Church.</p>

    <img src="http://placehold.it/800x400">

    <p>But then in the Church they don't think. A bishop keeps on saying at the age of eighty what he was told to say when he was a boy of eighteen, and as a natural consequence he always looks absolutely delightful.</p>

    <blockquote>
      <p>Don't flatter yourself, Basil: you are not in the least like him.</p>
      <cite>Lord Henry Wotton</cite>
    </blockquote>


  </div><!-- end .copy -->
</article>