---
slug:     gallery
category: components
title:    Gallery
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">Gallery widget for showing sets of images (or just a single image).</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default look</h2>

    <div class="gallery">
      <div class="gallery__main">
        <img src="#">
      </div>
      
      <div class="gallery__thumbnails">
        <ul>
          <li><a href="#"><img src="#"></a></li>
        </ul>
      </div>
    </div>

  </div><!-- subsection -->

</article>
