---
slug:     gallery
category: components
title:    Gallery
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">Gallery widget for showing sets of images (or just a single image).</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default look</h2>
    <p>The gallery can have whatever width, but here it is set to 300px.</p>

    <div class="gallery">
      <div class="gallery__main">
        <img src="images/artworks/k_w500.jpg">
      </div>
      
      <div class="gallery__thumbnails">
        <ul>
          <li><a href="images/artworks/k_w500.jpg"><img src="images/artworks/k_thumbnail_e_200.jpg"></a></li>
          <li><a href="images/artworks/k_flipped_vertically_w500.jpg"><img src="images/artworks/k_thumbnail_a_200.jpg"></a></li>
          <li><a href="images/artworks/k_flipped_horisontally_w500.jpg"><img src="images/artworks/k_thumbnail_b_200.jpg"></a></li>
          <li><a href="images/artworks/k_green_w500.jpg"><img src="images/artworks/k_thumbnail_c_200.jpg"></a></li>
          <li><a href="images/artworks/k_red_w500.jpg"><img src="images/artworks/k_thumbnail_d_200.jpg"></a></li>
          <li><a href="images/artworks/k_funky_w500.jpg"><img src="images/artworks/k_thumbnail_f_200.jpg"></a></li>
        </ul>
      </div>
    </div><!-- gallery -->

  </div><!-- subsection -->

</article>
