---
slug:     grid
category: components
title:    Grid
---
<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      The grid is a layout for displaying nodes of content with an emphasis on the node's thumbnail. See the <a href="list.html">List component</a> for a more compact display of content.
    </p>
  </header>
  
  <div class="subsection">

  </div><!-- subsection -->
  
</article>