---
slug:     grid
category: layout
title:    Grid
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      {{app.name}} uses <a href="http://susy.oddbird.net/guides/getting-started/">Susy</a> for its layouts.  <a href="http://susy.oddbird.net/guides/getting-started/">Susy</a> is a responsive grid system that leverages Compass to do its magic.
    </p>
  </header>

  <div class="container">
    <div class="four-columns">Four columns</div>
    <div class="two-columns">Two columns</div>
    <div class="two-columns">Two columns</div>
  </div>

</article>