---
slug:     list
category: components
title:    List
---
<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      Basic text lists.
    </p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Bulleted</h2>
    <ul class="list--bulleted">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ul>
  </div>

  <div class="subsection">
    <h2 class="heading">List with secondary information</h2>
    <ul class="list--bulleted">
      <li>One <small>(this could also be more than one)</small></li>
      <li>Two <small>(and this one more than two)</small></li>
      <li>Five <small>(here it gets tricky...)</small></li>
    </ul>
  </div>

  <div class="subsection">
    <h2 class="heading">Numbered</h2>
    <ol class="list--numbered">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ol>
  </div>

  <div class="subsection">
    <h2 class="heading">Tickmarked</h2>
    <ol class="list--tickmarked">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ol>
  </div>

  <div class="subsection">
    <h2 class="heading">Blocky</h2>
    <ol class="list--blocky">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ol>
  </div>

  <div class="subsection">
    <h2 class="heading">Blocky (with links)</h2>
    <div class="list--blocky">
      <a href="#">One</a>
      <a href="#">Two</a>
      <a href="#">Three</a>
      <a href="#">Four</a>
      <a href="#">Five</a>
    </div>
  </div>
  
</article>