---
slug:     logo
category: design
title:    Logo
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">This page shows the SMK logo in its various use cases. Favicons, Apple touch icons, and MS application tiles are also included.</p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Default logo</h2>
    <div class="smk-logo">Statens Museum for Kunst / National Gallery of Denmark</div>
  </div><!-- subsection -->
  
  <div class="subsection">
    <h2 class="heading">Linkyfied logo</h2>
    <a href="/" class="smk-logo">Statens Museum for Kunst / National Gallery of Denmark</a>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Favicons</h2>
    <p>Favicons are used in browsers to associate an icon with the site. Different browsers use differently sized favicons.</p>
    
    <div>
      <img src="favicon.ico">
      <p>Favicon 16, 24, 32 and 64px (.ico file)</p>
    </div>
    
    <div>
      <img src="favicon-96x96.png">
      <p>Favicon 96x96px</p>
    </div>

    <div>
      <img src="favicon-160x160.png">
      <p>Favicon 160x160px</p>
    </div>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Apple touch icons</h2>
    <p>These icons are used for iOS devices when the user adds the site to his home screen. The touch icon size differs from device to device.</p>

    <div>
      <img src="apple-touch-icon-57x57.png">
      <p>Apple Touch Icon 57x57px</p>
    </div>

    <div>
      <img src="apple-touch-icon-60x60.png">
      <p>Apple Touch Icon 60x60px</p>
    </div>

    <div>
      <img src="apple-touch-icon-72x72.png">
      <p>Apple Touch Icon 72x72px</p>
    </div>

    <div>
      <img src="apple-touch-icon-76x76.png">
      <p>Apple Touch Icon 76x76px</p>
    </div>

    <div>
      <img src="apple-touch-icon-114x114.png">
      <p>Apple Touch Icon 114x114px</p>
    </div>

    <div>
      <img src="apple-touch-icon-120x120.png">
      <p>Apple Touch Icon 120x120px</p>
    </div>

    <div>
      <img src="apple-touch-icon-144x144.png">
      <p>Apple Touch Icon 144x144px</p>
    </div>

    <div>
      <img src="apple-touch-icon-152x152.png">
      <p>Apple Touch Icon 152x152px</p>
    </div>
  </div><!-- subsection -->

  <div class="subsection ms-application-tiles">
    <h2 class="heading">MS application tiles</h2>
    <p>When a user pins the site to his start screen on Windows these icons will be used. Notice, the black background is being added through css in order to imitate how the icon wil be rendered on MS Windows. In itself the image file is transparent with a white SMK logo.</p>
    
    <div>
      <img src="mstile-70x70.png">
      <p>MS Application Tile 70x70px</p>
    </div>

    <div>
      <img src="mstile-144x144.png">
      <p>MS Application Tile 144x144px</p>
    </div>


    <div>
      <img src="mstile-150x150.png">
      <p>MS Application Tile 150x150px</p>
    </div>

    
    <div>
      <img src="mstile-310x150.png">
      <p>MS Application Tile 310x150px</p>
    </div>
      
    <div>
      <img src="mstile-310x310.png">
      <p>MS Application Tile 310x310px</p>
    </div>
  </div><!-- subsection -->
</article>