---
slug:     logo
category: design
title:    Logo
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">This page shows the SMK logo in its various use cases. Favicons, Apple touch icons, and MS application icons are also included.</p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Default logo</h2>
    <div class="smk-logo">Statens Museum for Kunst / National Gallery of Denmark</div>
  </div>
  
  <div class="subsection">
    <h2 class="heading">Linkyfied logo</h2>
    <a href="/" class="smk-logo">Statens Museum for Kunst / National Gallery of Denmark</a>
  </div>

  <div class="subsection">
    <h2 class="heading">Favicons</h2>
    <p>Favicons are used in browsers to associate an icon with the site. Different browsers use differently sized favicons.</p>
    <img src="favicon.ico">
    <img src="favicon-96x96.png">
    <img src="favicon-160x160.png">
  </div>

  <div class="subsection">
    <h2 class="heading">Apple touch icons</h2>
    <p>These icons are used for iOS devices when the user adds the site to his home screen. The touch icon size differs from device to device.</p>
    <img src="apple-touch-icon-57x57.png">
    <img src="apple-touch-icon-60x60.png">
    <img src="apple-touch-icon-72x72.png">
    <img src="apple-touch-icon-76x76.png">
    <img src="apple-touch-icon-114x114.png">
    <img src="apple-touch-icon-120x120.png">
    <img src="apple-touch-icon-144x144.png">
    <img src="apple-touch-icon-152x152.png">
  </div>

  <div class="subsection ms-application-tiles">
    <h2 class="heading">MS application tiles</h2>
    <p>When a user pins the site to his start screen on Windows these icons will be used.</p>
    <img src="mstile-70x70.png">
    <img src="mstile-144x144.png">
    <img src="mstile-150x150.png">
    <!-- <img src="mstile-310x150.png"> -->
    <img src="mstile-310x310.png">
  </div>
</article>