---
slug:     pager
category: components
title:    Pager
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">For traditional pagination.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default style</h2>
    <p>
      <ul class="pager">
        <li class="pager__previous"><a href="#">Previous</a></li>
        <li><a href="#">1</a></li>
        <li class="pager__active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="pager__next"><a href="#">Next</a></li>
      </ul>      
    </p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Disabled 'Previous' link</h2>
    <p>
      <ul class="pager">
        <li class="pager__active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="pager__next"><a href="#">Next</a></li>
      </ul>      
    </p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Centered</h2>
    <p>
      <ul class="pager--center">
        <li class="pager__previous"><a href="#">Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="pager__active"><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="pager__next"><a href="#">Next</a></li>
      </ul>      
    </p>
  </div><!-- subsection -->

</article>