---
slug:     sharing
category: components
title:    Sharing
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">Links for sharing content through social media.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Text links</h2>

    <div class="sharing">
      <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=INSERT_URL">Share on Facebook</a>
      <a target="_blank" href="https://twitter.com/intent/tweet?text=INSERT_DESCRIPTION&amp;url=INSERT_URL&amp;via=INSERT_TWITTER_HANDLE">Tweet This</a>
      <a target="_blank" href="https://plus.google.com/share?url=INSERT_URL">Plus on Google+</a>
      <a target="_blank" href="http://pinterest.com/pin/create/button/?url=INSERT_URL&amp;description=INSERT_DESCRIPTION">Pin on Pinterest</a>
    </div>

  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Icon links</h2>

    <div class="sharing--iconified">
      <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=INSERT_URL">Share on Facebook</a>
      <a target="_blank" href="https://twitter.com/intent/tweet?text=INSERT_DESCRIPTION&amp;url=INSERT_URL&amp;via=INSERT_TWITTER_HANDLE">Tweet This</a>
      <a target="_blank" href="https://plus.google.com/share?url=INSERT_URL">Plus on Google+</a>
      <a target="_blank" href="http://pinterest.com/pin/create/button/?url=INSERT_URL&amp;description=INSERT_DESCRIPTION">Pin on Pinterest</a>
    </div>

  </div><!-- subsection -->

</article>
