---
slug:     tabs
category: components
title:    Tabs
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">For splitting up content or separating concerns in the user experience.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Medium tabs</h2>
    <p>Noget...</p>
  </div><!-- subsection -->

</article>
