---
slug:     tabs
category: components
title:    Tabs
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">For splitting up content or separating concerns in the user experience.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Medium tabs</h2>
    <p>The default tabs. Here Tab 2 is active.</p>
    
<ul class="tabs">
  <li><a href="#">Tab 1 <span>(100)</span></a></li>
  <li class="tab--active"><a href="#">Tab 2 <span>(21)</span></a></li>
  <li><a href="#">Tab 3 <span>(22)</span></a></li>
  <li><a href="#">Tab 4 <span>(91)</span></a></li>
  <li><a href="#">Tab 5 <span>(6134)</span></a></li>
</ul>

  </div><!-- subsection -->

</article>
