---
slug:     teasers
category: components
title:    Teasers
---
<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      Teasers are small snippets of content that represents a full article, page, or items in the collection. Teasers come in two different styles; grid and list.
    </p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Grid style</h2>
    <p>This is a single teaser in the 'grid' style, which allows for large thumbnails. The teaser will take up the entire width of its parent item. Here the columnized layout is made possible with the jQuery plugin <a href="https://github.com/desandro/masonry">Masonry</a>.</p>

    <article class="teaser--grid">
      <!-- Thumb -->
      <!-- Title -->
      <!-- description -->
      <!-- Categories -->
      <!-- Meta -->
      <!-- Link it to someplace -->
    </article>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">List style</h2>
    <p>This is a single teaser in the 'list' style, which is more compace than the 'grid' style. On the other hand thumbnails have much less emphasis.</p>

    <article class="teaser--list">
      <!-- Thumb -->
      <!-- Title -->
      <!-- description -->
      <!-- Categories -->
      <!-- Meta -->
      <!-- Link it to someplace -->
    </article>
  </div><!-- subsection -->
  
</article>