---
slug:     text_elements
category: design
title:    Text elements
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      This page shows a set of simple typographic elements.
    </p>
  </header>

  <div class="subsection">
    <h2 class="heading">Headings</h2>
    <h1 class="heading--xl">Extra large heading</h1>
    <h1 class="heading--l">Large heading</h1>
    <h1 class="heading--m">Medium heading</h1>
    <h1 class="heading--s">Small heading</h1>
    <h1 class="heading--section">Section heading</h1>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Lead paragraph</h2>
    <p class="lead">The lead paragraph can be used as a short introduction to an article or a content heavy page. It's usually placed just after the page title.</p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Regular paragraph</h2>
    <p>This paragraph shows the style and size for regular copy. It uses the Hill Regular fontface by Playtype and is set in true black (#000).</p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Small text</h2>
    <p class="type--small">Use small text for metainformation, less important notices or other secondary stuff.</p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Weak text</h2>
    <p class="type--weak">This dimmed or "weak" text and can be used for non-essential information.</p>
    <p class="type--weak type--small">You can even make the weak text small and let it stand out even less. The copyright notice is set with these styles (see the bottom of this page).</p>
  </div><!-- subsection -->

</article>