---
slug:     text_elements
category: design
title:    Text elements
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      ...
    </p>
  </header>
  

  </div><!-- end .copy -->
</article>