---
slug:     tips
category: components
title:    Tips
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      Tooltips for showing hints about the content or interface. We are using the <a href="http://iamceege.github.io/tooltipster">Tooltipster</a> jQuery plugin.
    </p>
  </header>

  <div class="subsection">
    <h2 class="heading">Tooltipster</h2>
    <a href="#" class="some-class tooltip" title="This is my link's tooltip message!">Hover me!</a>
  </div><!-- subsection -->

</article>