---
slug:     tips
category: components
title:    Tips
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      Tooltips for showing hints about the content or interface.
    </p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default look</h2>
    <p>If you hover over <a href="#" data-tip="This is the content of the tooltip. Not much to say here...">this link</a> you will see a tip.</p>
  </div><!-- subsection -->

</article>