---
slug:     typeahead
category: components
title:    Typeahead
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead"><a href="https://github.com/twitter/typeahead.js">Typeahead</a> is an open soure autocomplete library by  <a href="http://twitter.com">Twitter</a> that SMKUI uses to add autocompletion to fields. Start typing in the fields below to see it in action.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Names</h2>
    <p class="typeahead-example--names">
      <input class="typeahead field" type="text" placeholder="Type a name..." autocomplete="off" spellcheck="false" dir="auto">
    </p>
  </div><!-- subsection -->
  
  <div class="subsection">
    <h2 class="heading">Countries</h2>
    <p class="typeahead-example--countries">
      <input class="typeahead field" type="text" placeholder="Type a country..." autocomplete="off" spellcheck="false" dir="auto">
    </p>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">Text strings</h2>
    <p class="typeahead-example--strings">
      <input class="typeahead field" type="text" placeholder="Type something..." autocomplete="off" spellcheck="false" dir="auto">
    </p>
  </div><!-- subsection -->

</article>