---
slug:     view_picker
category: components
title:    View picker
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">An iconified radio button group to select a view style.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default look</h2>

    <form class="view-picker" method="post">
      <fieldset>
        <input type="radio" name="view" value="grid" checked />
        <input type="radio" name="view" value="list" />
        <input type="radio" name="view" value="image" />
      </fieldset>
    </form>
  </div><!-- subsection -->

</article>
