---
slug:     view_picker
category: components
title:    View picker
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">An iconified radio button group to select a view style.</p>
  </header>

  <div class="subsection">
    <h2 class="heading">Default look</h2>

    <form class="view-picker" method="post">
      <input type="radio" name="view" value="grid" id="grid" checked />
      <label for="grid" class="grid tooltip" title="Grid">Grid</label>

      <input type="radio" name="view" value="list" id="list" />
      <label for="list" class="list tooltip" title="List">List</label>

      <!-- <input type="radio" name="view" value="image" id="image" /> -->
      <!-- <label for="image" class="image tooltip" title="Only results with images">Image</label> -->
    </form>
  </div><!-- subsection -->

</article>
