---
layout:   view.hbs
slug:     view_single_artwork
category: views
title:    Single artwork
---

<div class="gallery">
  <div class="gallery__main">
    <img src="#" alt="Title of the artwork goes here. This is important for SEO.">
  </div>
  
  <div class="gallery__thumbnails">
    <ul>
      <li><a href="#"><img src="#"></a></li>
    </ul>
  </div>
</div>
