<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{app.name}}</title>
    <meta name="description" content="Etiquette is a toolbox for creating frontend libraries.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="css/app.css">

    <!-- TODO: facebook og -->
    <!-- TODO: twitter meta data -->
    
    {{> favicons }}

    <!-- Handling IE inadequ -->
    {{> ie_fixes }}
  </head>
  <body>
    {{> header }}

    <section role="main" class="section--main">
      <!--[if lt IE 8]>
        <div class="browsehappy">
          <div class="browsehappy-inner">
            <p>You are using an <strong>outdated</strong> browser. You can <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          </div>
        </div>
      <![endif]-->
          
      {{> body }}
    </section>

    {{> footer}}

    {{> drawer }}

    {{> scripts }}

    {{> google_analytics }}
  </body>
</html>