<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Etiquette</title>
    <meta name="description" content="Etiquette is a toolbox for creating frontend libraries.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/app.css">

    <!-- TODO: facebook og -->
    <!-- TODO: twitter meta data -->
    
    {{> favicons }}
  </head>
  <body>
    {{> header }}

    <section role="main" class="section--main">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
          
      {{> body }}

    </section>
  
      {{> docs_navigation }}

      {{> scripts }}
  
      {{> google_analytics }}
  </body>
</html>