/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Subsection
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Subsection is a custom object used by the default Etiquette look and feel.
// It is used for splitting articles into separate chunks. Aka. subsections.

// Base class
.subsection {
  // Spacing
  margin-bottom: 2.75em;

  // Paragraph
  p {
    margin-bottom: .85em;
  }

  // Add a little more space between the first paragraph and the next element.
  p:first-of-type {
    margin-bottom: 1.25em;
  }

  // Heading
  h2.heading {
    @extend .heading--s;
    @extend .heading--section;
  }
} // subsection