/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
 § Colors
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$black:      #333;

$gray-light: #f2f4f9;  
$gray:       #ecedf2;
$gray-dark:  #a2a2a5;

$yellow:     #fff8ac;

$purple:     #7272ed;

/*
 § Screen sizes (used in media queries).
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$screen-xs:  300px;
$screen-s:   700px;
$screen-m:  1000px;
$screen-l:  1300px;
$screen-xl: 1600px;

/*
 § Time durations.
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$time-xs:  100ms;
$time-s:   200ms;
$time-m:   300ms;
$time-l:   500ms;
$time-xl: 1000ms;

/*
 § Measures
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$xs: .25em;  // Extra small
$s:  .5em;   // Small
$m:  1em; // Medium
$l:  2em;   // Large
$xl: 3.5em; // Extra large

/*
 § Global settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$body-background: #fff; // The body background color.