/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*
 § Global settings
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$body-background: #fff; // The body background color.

/*
 § Colors
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/;
// Blacks
$black:         #333;

// Grays
$gray:          #666;
$gray-light:    #999;
$gray-lighter:  #ccc;
$gray-lightest: #eee;

/*
 § Screen sizes (used in media queries).
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$screen-xs:  300px;
$screen-s:   700px;
$screen-m:  1000px;
$screen-l:  1300px;
$screen-xl: 1600px;

/*
 § Time durations.
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$time-xs:  100ms;
$time-s:   200ms;
$time-m:   300ms;
$time-l:   500ms;
$time-xl: 1000ms;

/*
 § Measures
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$xs: .5em;  // Extra small
$s:  1em;   // Small
$m:  1.5em; // Medium
$l:  2em;   // Large
$xl: 3.5em; // Extra large