/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Browse happy
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Remind users that they are using an outdated broswer.

// Imports
@import "settings";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "components/mixins";
@import "components/button";

.browsehappy {
  padding-left: 15em !important;

  // Inner wrapper
  .browsehappy-inner {
    border: 1px solid $red;
    padding: .55em .75em .65em;
    margin-bottom: 2em;
  }
}