/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*\
 § Tweaks for IE8
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Configuration
@import "settings";
@import "components/mixins";

/*
 § Purple button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button--purple {

  &.button--subtle {
    color: $purple;
    border: 1px solid $purple;
  }
}

/*
 § Red button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button--red {

  &.button--subtle {
    color: $red;
    border: 1px solid $red;
  }
}

/*
 § Blue button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button--blue {

  &.button--subtle {
    color: $blue;
    border: 1px solid $blue;
  }
}

/*
 § Green button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button--green {

  &.button--subtle {
    color: $green;
    border: 1px solid $green;
  }
}

/*
 § Subtle button
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button--subtle {
  border: 1px solid $black;

  &:hover {
    background-color: $gray !important;
    color: $black;
    border: 1px solid $black;
  }
}

/*
 § Image replacements
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Use single image files for screens with low pixel density (1x) instead of
// the sprite.



// SMK logo
.smk-logo { @include spriteless-image-replacement('smk_logo.png'); }

// SMKUI logo (small)
.smkui-logo,
.smkui-logo--s { @include spriteless-image-replacement('smkui_logo_small.png'); }

// SMKUI logo (medium)
.smkui-logo--m { @include spriteless-image-replacement('smkui_logo.png'); }

// Menu icon
.main-header .smkui-logo:after { @include spriteless-image-replacement('menu.png'); }